/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

.margin-top-5px {
  margin-top: 5px;
}

.alpha::after {
  content: 'alpha';
  position: relative;
  left: 2px;
  bottom: -5px;
  font-size: 15px;
  color: black;
  text-shadow: 1px 1px lightgreen;
  font-family: 'Arial';
  font-style: normal;
}

#flash {
  background-color: green;
  border: 1px solid white;
  color: white;
  padding: 7px;
}

#language-switcher {
  margin: 50px 0;
}

#language-switcher a {
  padding: 10px;
}

#language-switcher a.active {
  border: 5px solid black;
}

.loading *, .hidden {
  display: none;
}

main {
  margin-top: 10px;
}

.loading::before {
  content: 'Loading...';
}

.blacked-out-input-container .choices {
  background-color: white;
  padding: 5px;
  margin: 10px 5px;
}

.blacked-out-input-container .choices .choice {
  border: 2px solid blue;
  padding: 10px;
  margin: 15px 5px;
  cursor: pointer;
}

.blacked-out-input-container .choices .choice:hover {
  background-color: blue;
  color: white;
}


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

main {
  background-color: orange;
  padding: 20px;
}

p {
  max-width: 600px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  text-align: center;
  width: 100%;
}
